@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  min-width: 350px;
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: #FFFDFA;
  font-family: 'M PLUS 1p', sans-serif;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity: 1;
}

li, dl, dt, dd {
  list-style: none;
}

.l-container {
  display: flex;
}

.l-container .l-main {
  flex: 4;
}

.l-container .l-sidebar {
  flex: 1;
}

@media (min-width: 769px) {
  .l-container {
    overflow: hidden;
  }
}

.l-footer {
  height: 15rem;
  padding: 1rem 0;
  background-color: #9D8670;
  color: white;
  text-align: center;
}

.l-footer ul li {
  display: inline;
  font-size: 1.8rem;
  line-height: 8rem;
}

.l-footer ul li a {
  color: white;
}

.l-footer__copyright {
  margin-top: 3rem;
}

.l-header {
  background-color: #FFF7EF;
}

@media (min-width: 769px) {
  .l-header {
    display: flex;
    justify-content: space-between;
  }
}

.l-header__sitename {
  margin-bottom: 5rem;
  color: #707070;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

@media (min-width: 769px) {
  .l-header__sitename {
    padding: 5rem;
  }
}

.l-header__sitename a {
  color: #707070;
  font-family: 'Roboto', sans-serif;
}

.l-header__searchform {
  height: 3rem;
  padding-bottom: 8rem;
  text-align: center;
}

@media (min-width: 769px) {
  .l-header__searchform {
    padding: 5rem 1rem;
  }
}

.l-header__searchform input {
  vertical-align: middle;
}

.l-header__searchform label {
  font-size: 0;
}

.l-header__searchform__keywords {
  width: 20rem;
  height: 4rem;
  margin-right: 0.5rem;
  padding: 1rem 1rem 1rem 3.5rem;
  border: 1px solid #707070;
  border-radius: 1rem;
  background: white url(../images/searchform_loupe.png) no-repeat 8px;
  font-size: 1.5rem;
}

.l-header__searchform__searchbutton {
  width: 6rem;
  height: 4rem;
  padding: 1rem;
  border: 1px solid #707070;
  border-radius: 1rem;
  background-color: #F2EDE9;
  font-size: 1.5rem;
}

.l-sidebar {
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 10;
  width: 100%;
  height: 100%;
  transition: all 300ms 0s ease;
  padding: 2rem;
  background-color: #F2EDE9;
  color: #707070;
}

@media (min-width: 769px) {
  .l-sidebar {
    position: static;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
  }
}

.l-sidebar.is-open {
  left: 10%;
  overflow-y: scroll;
  /* 高さを指定しているので中身が超えた分はスクロールできるように */
}

.l-sidebar-button--close {
  display: block;
  margin: 0 0 0 auto;
  margin-right: 10%;
}

@media (min-width: 769px) {
  .l-sidebar-button--close {
    display: none;
  }
}

.l-sidebar__title {
  display: none;
}

@media (min-width: 769px) {
  .l-sidebar__title {
    display: block;
    margin: 3rem 0;
    padding-bottom: 3rem;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
}

.l-sidebar-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  display: none;
}

.l-sidebar-button--open {
  display: block;
  margin: 0 0 0 auto;
  padding: 5%;
  color: #707070;
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

@media (min-width: 769px) {
  .l-sidebar-button--open {
    display: none;
  }
}

.bold {
  margin-left: 5%;
  margin-bottom: 5rem;
  color: #3C2A10;
  font-size: 1.2rem;
}

.c-card {
  margin-bottom: 2rem;
}

@media (min-width: 641px) {
  .c-card {
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
    width: 90%;
    height: 33rem;
  }
}

.c-card__img {
  display: block;
  margin: auto;
  width: 90%;
}

@media (min-width: 641px) {
  .c-card__img {
    width: 50%;
    height: 100%;
  }
}

.c-card__contents {
  display: block;
  margin: auto;
  padding: 1rem;
  width: 90%;
  background-color: #3C2B1C;
  color: white;
}

.c-card__contents dt {
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: normal;
}

.c-card__contents dd {
  font-size: 1.3rem;
  line-height: 2.5rem;
}

@media (min-width: 641px) {
  .c-card__contents {
    width: 50%;
    height: 100%;
  }
}

.c-card__contents__button {
  display: block;
  margin: 5rem auto 3rem;
  padding: 1.5rem 0;
  width: 50%;
  border-radius: 10rem;
  background-color: white;
  color: #707070;
  font-size: 1.5rem;
  text-align: center;
}

@media (min-width: 641px) {
  .c-gridImages {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    margin: 5rem auto;
    width: 90%;
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  .c-gridImages {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.c-gridImages__image {
  margin: 3rem 0;
}

@media (min-width: 641px) {
  .c-gridImages__image {
    margin: 0;
  }
}

.c-gridImages__image img {
  display: block;
  margin: auto;
  width: 90%;
}

@media (min-width: 641px) {
  .c-gridImages__image img {
    width: 100%;
  }
}

.p-access {
  position: relative;
}

.p-access img {
  margin-top: 3rem;
  width: 100%;
  height: 60rem;
  object-fit: cover;
  vertical-align: bottom;
  filter: contrast(60%);
}

.p-access__contents {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 50%;
  margin: 3rem auto 0;
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

@media (min-width: 641px) {
  .p-access__contents {
    height: 95.3%;
  }
}

@media (min-width: 769px) {
  .p-access__contents {
    width: 50%;
    height: 100%;
  }
}

.p-access__contents h2 {
  margin: 2rem 0;
  font-size: 3rem;
  font-weight: normal;
  line-height: 4rem;
}

.p-access__contents p {
  font-size: 1.5rem;
  line-height: 3rem;
}

@media (min-width: 769px) {
  .p-branchmenu ul {
    display: flex;
    justify-content: center;
  }
}

.p-branchmenu__list {
  display: flex;
  justify-content: center;
  position: relative;
}

.p-branchmenu__list img {
  display: block;
  margin: auto;
  width: 90%;
  padding: 1rem 0;
}

.p-branchmenu__list h2 {
  position: absolute;
  top: 5%;
  left: 10%;
  transform: translate(-10%, -5%);
  margin: 0;
  padding: 0;
  color: white;
  font-size: 3.5rem;
  font-family: 'Roboto', sans-serif;
  line-height: 4rem;
}

.p-branchmenu__list__contents01 {
  position: absolute;
  top: 50%;
  left: 5%;
  right: 5%;
  transform: translate(0, -50%);
  margin: 0;
  padding: 0;
  height: 28%;
  margin: 1.5rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-y: scroll;
}

.p-branchmenu__list__contents01::-webkit-scrollbar {
  display: none;
}

.p-branchmenu__list__contents02 {
  position: absolute;
  top: 85%;
  left: 5%;
  right: 5%;
  transform: translate(0, -70%);
  margin: 0;
  padding: 0;
  height: 28%;
  margin: 1.5rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-y: scroll;
}

.p-branchmenu__list__contents02::-webkit-scrollbar {
  display: none;
}

.p-branchmenu__list dt {
  margin: 1.5rem 0;
  font-size: 2rem;
  font-weight: normal;
  color: #3C2A10;
}

.p-branchmenu__list dd {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #3C2A10;
}

.p-editor-style {
  color: #3C2A10;
}

.p-editor-style h2 {
  display: block;
  margin: auto;
  padding: 3rem 0;
  width: 90%;
  font-size: 2.5rem;
}

.p-editor-style h3 {
  display: block;
  margin: auto;
  padding: 3rem 0;
  width: 90%;
  font-size: 1.7rem;
}

.p-editor-style h4, .p-editor-style h5, .p-editor-style h6 {
  display: block;
  margin: auto;
  padding: 3rem 0;
  width: 90%;
  font-size: 1.5rem;
}

.p-editor-style p {
  display: block;
  margin: auto;
  padding: 3rem 0;
  width: 90%;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.p-editor-style ul, .p-editor-style ol {
  font-size: 1.5rem;
  padding: 2rem 0;
}

.p-editor-style ul li, .p-editor-style ol li {
  margin-left: 5%;
  /* リストの左側に余白 */
}

.p-editor-style ol li {
  list-style-type: decimal;
  /* リストの左側に数字 */
  list-style-position: inside;
}

.wp-block-quote {
  display: block;
  margin: auto;
  padding: 2rem 1rem;
  width: 90%;
  background-color: #F5F5F5;
  color: #3C2A10;
  font-size: 1.3rem;
}

.wp-block-quote p {
  line-height: 2rem;
}

.wp-block-quote cite {
  display: block;
  margin: auto;
  width: 90%;
}

.wp-block-image {
  margin: 3rem 0;
}

.wp-block-image img {
  display: block;
  margin: auto;
  width: 90%;
  height: auto;
}

.wp-block-media-text {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  padding: 2rem 0;
  width: 90%;
  color: #3C2A10;
}

.wp-block-media-text__media {
  flex: 2;
}

.wp-block-media-text__media img {
  height: auto;
  min-height: 10rem;
}

.wp-block-media-text__content {
  flex: 3;
}

.wp-block-table {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.wp-block-table table {
  margin: auto;
  padding: 2rem 0;
  width: 90%;
  height: 30rem;
  color: #3C2A10;
}

.wp-block-table table tr td:first-child {
  width: 30%;
}

.wp-block-table table td {
  padding-left: 10%;
  font-size: 1.5rem;
}

.wp-block-table table, .wp-block-table tr, .wp-block-table td {
  border-collapse: collapse;
  border: 1px solid #707070;
}

.wp-block-code {
  display: block;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 3rem 0;
  width: 90%;
  height: auto;
  background-color: #F5F5F5;
  font-size: 1.2rem;
}

.wp-block-code code {
  margin-left: 5%;
}

.wp-block-buttons {
  margin: 2rem 0 2rem 5%;
}

.wp-block-button__link {
  display: inline-block;
  width: 90vw;
  text-align: center;
  padding: 2rem 0;
  border: 1px solid #707070;
  background-color: #F2EDE9;
  background-image: url("https://daks2k3a4ib2z.cloudfront.net/535247a0560e86a20500080c/53498e45ba1095344a0005fa_arrow-right.svg");
  background-position: 110% 50%;
  background-size: auto 20%;
  background-repeat: no-repeat;
  transition: all 500ms ease;
  color: #3C2A10;
  letter-spacing: -1px;
}

@media (min-width: 641px) {
  .wp-block-button__link {
    width: 30rem;
  }
}

.wp-block-button__link:hover {
  width: 90vw;
  border-color: #000;
  background-color: #181818;
  background-position: 95% 50%;
  padding: 2rem 0;
  color: #fff;
}

@media (min-width: 641px) {
  .wp-block-button__link:hover {
    width: 30rem;
  }
}

.p-globalmenu {
  margin-top: 10rem;
}

@media (min-width: 769px) {
  .p-globalmenu {
    margin-top: 0;
  }
}

.p-globalmenu .menu-item-has-children {
  margin: 3rem 0;
  font-size: 1.7rem;
  font-weight: normal;
}

.p-globalmenu .menu-item-has-children a {
  color: #707070;
}

.p-globalmenu .menu-item-has-children .sub-menu {
  padding: 3rem;
  font-size: 1.5rem;
  line-height: 3rem;
}

.p-lead {
  display: block;
  margin: 2rem auto;
  width: 90%;
  color: #3C2A10;
}

.p-lead h2 {
  padding: 1rem 0 3rem;
  font-size: 2.5rem;
  font-weight: normal;
}

.p-lead p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.p-pagination--sp {
  display: flex;
  justify-content: space-between;
  margin: 5rem auto 3rem;
  width: 90%;
}

.p-pagination--sp button {
  color: #707070;
  font-size: 1.5rem;
}

@media (min-width: 641px) {
  .p-pagination--sp {
    display: none;
  }
}

.p-pagination--tablet .wp-pagenavi {
  display: none;
  margin: 10rem 0 3rem;
}

@media (min-width: 641px) {
  .p-pagination--tablet .wp-pagenavi {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.p-pagination--tablet .wp-pagenavi a, .p-pagination--tablet .wp-pagenavi span {
  margin: 0 2px;
  padding: 1rem 1.5rem;
  background-color: #FFF;
  border: solid 1px #707070;
  color: #707070;
  font-size: 1.5rem;
  white-space: nowrap;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
  text-align: center;
  text-decoration: none;
}

.p-pagination--tablet .wp-pagenavi a:hover {
  color: #FFF;
  background-color: #999;
  border-color: #999;
}

.p-pagination--tablet .wp-pagenavi span.current {
  background-color: #3C2B1C;
  border-color: #3C2B1C;
  color: #FFF;
  font-weight: bold;
}

.p-topimage01 {
  /*親div*/
  position: relative;
  /*相対配置*/
}

.p-topimage01 img {
  width: 100%;
  vertical-align: top;
}

@media (min-width: 769px) {
  .p-topimage01--sp {
    display: none;
  }
}

.p-topimage01--pc {
  display: none;
}

@media (min-width: 769px) {
  .p-topimage01--pc {
    display: block;
  }
}

.p-topimage01__title {
  position: absolute;
  /*絶対配置*/
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
  margin: 0;
  padding: 0;
  color: white;
  font-size: 3rem;
  font-weight: normal;
}

.p-topimage02 {
  /*親div*/
  position: relative;
  /*相対配置*/
  vertical-align: top;
  height: 24rem;
  background-color: #000;
}

.p-topimage02 img {
  width: 100%;
  height: 25rem;
  object-fit: none;
  opacity: .6;
}

.p-topimage02__title {
  position: absolute;
  /*絶対配置*/
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
  margin: 0;
  padding: 0;
  color: white;
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
}

.p-topimage02__title span {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 5rem;
}

.p-topimage03 {
  /*親div*/
  position: relative;
  /*相対配置*/
  vertical-align: top;
}

.p-topimage03 img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.p-topimage03__title {
  position: absolute;
  /*絶対配置*/
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
  margin: 0;
  padding: 0;
  color: white;
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
}
/*# sourceMappingURL=hamburger.css.map */