// ==========================================================================
// Foundation
// ==========================================================================

@import "foundation/_base";


// ==========================================================================
// Layout
// ==========================================================================

@import "layout/_container";
@import "layout/_footer";
@import "layout/_header";
@import "layout/_sidebar";


// ==========================================================================
// Object
// ==========================================================================

// -----------------------------------------------------------------
// Component
// -----------------------------------------------------------------


@import "object/component/_card";
@import "object/component/_gridImages";


// -----------------------------------------------------------------
// Project
// -----------------------------------------------------------------

@import "object/project/_access";
@import "object/project/_branchmenu";
@import "object/project/_editor-style";
@import "object/project/_globalmenu";
@import "object/project/_lead";
@import "object/project/_pagination";
@import "object/project/_topimage";



// -----------------------------------------------------------------
// Utility
// -----------------------------------------------------------------

// @import "object/utility/_align";



.wp-caption {
    font-size: 1.3rem
}

.wp-caption-text {
    margin-top: -20px;
}

.sticky {
    padding: 20px;
    background: #f3f3f3;
}

.gallery-caption {
    font-size: 1.3rem;
}

.bypostauthor {
    padding: 20px;
    background: #f0f8ff;
}

.alignleft {
    display: block;
    float: left;
    margin-right: 1.5em;
}
.alignright {
    display: block;
    float: right;
    margin-left: 1.5em;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
        white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}