@import "../../variables";

.c-card {
    margin-bottom: 2rem;

    @include breakpoint( tablet ) {
        display: flex;
        margin: auto;
        margin-bottom: 2rem;
        width: 90%;
        height: 33rem;
    }
    
    &__img {
        display: block;
        margin: auto;
        width: 90%;
    
        @include breakpoint( tablet ) {
            width: 50%;
            height: 100%;
        }
    }

    &__contents {
        display: block;
        margin: auto;
        padding: 1rem;
        width: 90%;
        background-color: #3C2B1C;
        color: white;
        dt {
            margin: 2rem 0;
            font-size: 2rem;
            font-weight: normal;
        }
        dd {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
        @include breakpoint( tablet ) {
            width: 50%;
            height: 100%;
        }
        &__button {
            display: block;
            margin: 5rem auto 3rem;
            padding: 1.5rem 0;
            width: 50%;
            border-radius: 10rem;
            background-color: white;
            color: $text-gray;
            font-size: 1.5rem;
            text-align: center;
        }
    }
}