// ↓single、page １枚写真部分
.c-img--large {
    margin: 3rem 0;
    img {
        display: block;
        margin: auto;
        width: 90%;
    }
}


.c-img--small {
    margin: 3rem 0;
    img {
        display: block;
        margin: auto;
    }
}
// ↑single、page １枚写真部分