.c-tag {
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 3rem 0;
    width: 90%;
    height: 20rem;
    background-color: #F5F5F5;
    font-size: 1.2rem;
    p {
        margin-left: 10%;
    }
}