@import "../../variables";

.p-globalmenu {
    margin-top: 10rem;
    @include breakpoint( pc ) {
        margin-top: 0;
    }


    .menu-item-has-children {
        margin: 3rem 0;
        font-size: 1.7rem;
        font-weight: normal;
        a {
            color: $text-gray;
        }

        .sub-menu {
            padding: 3rem;
            font-size: 1.5rem;
            line-height: 3rem; 
        }
    }
}