.p-pagination--sp {
    display: flex;
    justify-content: space-between;
    margin: 5rem auto 3rem;
    width: 90%;
    color: #707070;
    font-size: 1.5rem;

    @include breakpoint( tablet ) {
        display: none;
    }
}


.p-pagination--tablet {

    .wp-pagenavi {
        display: none;
        margin: 10rem 0 3rem;
        @include breakpoint( tablet ) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        a, span {
            margin: 0 2px;
            padding: 1rem 1.5rem;
            background-color: #FFF;
            border: solid 1px #707070;
            color: #707070;
            font-size: 1.5rem;
            white-space: nowrap;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            -webkit-transition: 0.2s ease-in-out;
            -moz-transition: 0.2s ease-in-out;
            -o-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
            text-align: center;
            text-decoration:none;
        }

        a:hover{
            color:#FFF; 
            background-color:#999; 
            border-color:#999;
        }

        span.current{
            background-color: #3C2B1C;
            border-color: #3C2B1C;
            color: #FFF;
            font-weight: bold;
        }
    }
}
