.p-pagination--sp {
    display: flex;
    justify-content: space-between;
    margin: 5rem auto 3rem;
    width: 90%;
    color: #707070;
    font-size: 1.5rem;

    @include breakpoint( tablet ) {
        display: none;
    }
}


.p-pagination--tablet {
    display: none;
    margin: 10rem 0 3rem;
    @include breakpoint( tablet ) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    p, button {
        margin: 0 0.5rem;
    }

    &__pointer {
        font-size: 1.5rem;
    }
    
    &__button {
        padding: 1rem 0;
        width: 4rem;
        border: 1px solid #707070;
        background-color: white;
        color: #707070;
        font-size: 1.5rem;
        text-align: center;
        &:hover {
            color: white;
            background-color: #3C2B1C;
        }
    }
}

